.plan {
    padding: 20px;
    margin: 5px;
    border-radius: 3px;
    border: none;
    color: white;
}

.btn-plan{
    border: none;
}

button h4{
    color: white;
}

.beginner{
    background-color: #31b0d5;
}
.advanced{
    background-color: #4cae4c;
}
.special{
    background-color: #c0a16b;
}