.container
  .row
    .col-lg-12.text-center
      %h2.section-heading Why would I need direct emails?
      %h3.section-subheading.text-muted Well, you should email:
  .row.text-center
    .col-md-4
      %span.fa-stack.fa-4x
        %i.fa.fa-circle.fa-stack-2x.text-primary
        %i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse
      %h4.service-heading New Customers
      %p √ Grow your revenue
      %p √ Reach new customers
      %p √ Find decision makers
      %p √ Identify the best point of contact
      %hr
      %p.text-muted Linkedin search: CTO
    .col-md-4
      %span.fa-stack.fa-4x
        %i.fa.fa-circle.fa-stack-2x.text-primary
        %i.fa.fa-laptop.fa-stack-1x.fa-inverse
      %h4.service-heading Journalists & Bloggers
      %p √ Request an article
      %p √ Notify them about a project launch
      %p √ Invite to an event
      %p √ Press-releases
      %p √ Improve your SEO positions
      %hr
      %p.text-muted Linkedin search: Startup blogger
    .col-md-4
      %span.fa-stack.fa-4x
        %i.fa.fa-circle.fa-stack-2x.text-primary
        %i.fa.fa-dollar.fa-stack-1x.fa-inverse
      %h4.service-heading Investors
      %p √ Get funded
      %p √ Ask for advice
      %p √ Find a mentor
      %p √ Find competitors
      %hr
      %p.text-muted Linkedin search: Angel investments
  .row.text-center
    .col-md-4.col-md-offset-1
      %span.fa-stack.fa-4x
        %i.fa.fa-circle.fa-stack-2x.text-primary
        %i.fa.fa-user-plus.fa-stack-1x.fa-inverse
      %h4.service-heading Your Future Teammates
      %p √ Build your team
      %p √ Hire someone
      %p √ Connect your co-founder(s)
      %p √ Get insights
      %hr
      %p.text-muted Linkedin search: iOS developer
    .col-md-4.col-md-offset-1
      %span.fa-stack.fa-4x
        %i.fa.fa-circle.fa-stack-2x.text-primary
        %i.fa.fa-rocket.fa-stack-1x.fa-inverse
      %h4.service-heading HR Departments
      %p √ Get a Job
      %p √ Contact hundreds of HRs
      %p √ Inquire about best practicess)
      %p √ Get insights
      %hr
      %p.text-muted Linkedin search: Recruitment agency

